[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
environs = "*"
psycopg2-binary = "*"
coverage = "*"
twine = "*"
m2r = "*"
garpix-qa = "*"
django-polymorphic-tree-for-garpix-page = "*"
django-modeltranslation = "*"
django-multiurl = "*"
djangorestframework = "*"
garpix-utils = ">=1.2.0"
garpix-package = "*"

[dev-packages]

[requires]
python_version = "3.8"
