[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
environs = "*"
psycopg2-binary = ">=2.9.3"
coverage = "*"
twine = "*"
m2r = "*"
django-polymorphic-tree-for-garpix-page = "==2.1.1"
django-modeltranslation = "*"
django-multiurl = "*"
djangorestframework = "*"
garpix-utils = "==1.8.0"
garpix-package = "*"
django-tabbed-admin = "*"
model-bakery = "*"
django-redis = "*"
django-rest-polymorphic = "*"
eqator = ">=2.2.1"
garpix-admin-lock = "==1.2.0"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
