{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_field_sets %}
{% if original.components.all %}
<div style="margin-bottom: 20px;">
    <label for="">Компоненты страницы</label>
    <table id="result_list" style="width: 100%; margin: 20px 0;">
        <thead>
        <tr tabindex="-1">

            <th scope="col" class="column-indented_title">

                <div class="text"><span>Название</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="sortable column-created_at">

                <div class="text"><span>Дата создания</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-model_name">

                <div class="text"><span>Тип</span></div>
                <div class="clear"></div>
            </th>
        </tr>
        </thead>
        <tbody>

        {% for component in original.components_tree %}

        <tr tabindex="{{ component.id }}">

            <th class="field-indented_title"><a href="/admin/garpix_page/basepagecomponent/1/change/">
                <div style="text-indent:calc({{ component.level }} * 20px)">{{ component.admin_link_to_change }}</div>
            </a></th>
            <td class="field-created_at nowrap">{{ component.created_at }}</td>
            <td class="field-model_name">{{ component.model_name }}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

    {{ original.components.all.0.admin_link_to_add }}
</div>
{% endif %}
{% endblock %}