{% if object.get_seo_title %}
    <title>{{object.get_seo_title}}</title>
{% else %}
    <title>{{object.title}}</title>
{% endif %}
{% load i18n %}
<meta name="keywords" content="{{object.get_seo_keywords}}">
<meta name="description" content="{{object.get_seo_description}}">
<meta property="og:title" content="{{object.get_seo_title}}">
<meta property="og:description" content="{{object.get_seo_description}}">
<meta property="og:type" content="{{object.get_seo_og_type}}">
<meta property="og:url" content="https://{{ request.get_host }}{{object.get_absolute_url}}">
<meta property="og:site_name" content="{{object.title}}">
<meta property="og:locale" content='ru_RU'>
{% if object.seo_image %}
<meta property="og:image" content="https://{{ request.get_host }}{{ object.get_seo_image.url }}"/>
{% endif %}

<link rel="canonical" href="https://{{ request.get_host }}{{ object.get_absolute_url }}"/>
