{% load static %}

{% with id=widget.attrs.id %}
<ul{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
    {% for group, options in widget.sorted_groups.items %}
        <details class="component-group" open>
            <summary class="component-group__caption">{{ group }}</summary>
            <ul{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
                {% for option in options %}
                    <li>
                        <label>
                            <span style="display: block">
                                {% if option.attrs.preview is None %}
                                    <span style="color: rgb(254, 191, 1)">Тут должно быть превью компонента. Если его нет, пожалуйста, обратитесь к разработчику.</span>
                                {% else %}
                                    <img
                                        style="max-width: 600px; margin-bottom: 5px"
                                        class="swiper--img_circle"
                                        src="{% static option.attrs.preview %}"
                                    />
                                {% endif %}
                            </span>
                            {% include option.template_name with widget=option %}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endfor %}
</ul>
{% endwith %}
